@media only screen and (max-width: 1170px) {
	.flex-wrapper {
		flex-wrap: wrap;
	}

	body {
		font-size: 15pt;
	}
}

@media only screen and (max-width: 414px) {
	body {
		font-size: 13pt;
		max-height: 1024px;
	}
}

.flex-wrapper {
	display: inline-flex;
	justify-content: center;
	margin-bottom: 1em;
}

#title-heading {
	text-align: center;
}

.services-column {
	/*border:1px solid green;*/
}

.service-container {
	width: 90%;
	margin:0 auto;
}

.service-title-container {
	width: 90%;
	margin:0 auto;
}

.service-sub-types-container {
	width: 90%;
	margin:0 auto;
}

hr,h1 {
	margin: 0;
}

span {
	color: rgba(255, 255, 255, 0.55);
}

#bottom-nav {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	padding: 0.3em;
	background-color: #3E5771;
	text-align: center;
	display:none;
}


.blinking {
	animation: blinking 1s linear forwards;
}

@keyframes blinking {

	0% { opacity: 1;
		color: default;
	}
	30% {
		opacity: .5;
	}
	50% {
		opacity: 1;
		color: default;
	}
	100% {
		opacity: 1;
		color: #cbad6c;
	}
}