.services-column {
	margin: 0 auto;
	width: 50%;
}

#left {
	float: left;
}

#right {
	float: right;
}

.service-container {
	margin:0 auto;
	width: 90%;
}

.service-title-container {
	margin: 0 auto;
	width: 90%;
}

a {
    border-bottom: none;
}

hr,h1 {
	margin: 0;
}

span {
	color: rgba(255, 255, 255, 0.55);
	/* font-family: Calibri-Light; */
}

.service-sub-types-container {
	width: 90%;
	margin: 0 auto;
}