.services-column {
	margin: 0 auto;
	width: 50%;
}

#left {
	float: left;
}

#right {
	float: right;
}

.service-container {
	margin:0 auto;
	width: 90%;
}

.service-title-container {
	margin: 0 auto;
	width: 90%;
}

a {
    border-bottom: none;
}

hr,h1 {
	margin: 0;
}

span {
	color: rgba(255, 255, 255, 0.55);
}

.service-sub-types-container {
	width: 90%;
	margin: 0 auto;
}

.blinking {
	animation: blinking 1s linear forwards;
}

@keyframes blinking {

	0% { opacity: 1;
		color: default;
	}
	30% {
		opacity: .5;
		color: #cbad6c;
	}
	50% {
		opacity: 1;
		color: default;
	}
	100% {
		opacity: 1;
		color: #cbad6c;
	}
}
